build/
build-bundled/
build-podofo/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
Testing/
compile_commands.json

# Debian package builds
obj-*/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/qore-pdf-module/
debian/qore-pdf-module-doc/
debian/tmp/
