Tests: runtime
Depends: qore-pdf-module, fonts-dejavu-core, qpdf
# QUnit reports progress to stderr even on success.
Restrictions: allow-stderr

Tests: compiler
Depends: qore-pdf-module, libqore-dev, fonts-dejavu-core
# Installing optional modules can trigger a valid fallback to packaged Qore sources.
Restrictions: allow-stderr
